@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
html {
  font-size: 10px;
}
body {
  background-color: black;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
  background-image: url(../image/darkmode_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
p {
  color: white;
}

/* 네비게이션 바 */
.main-logo {
  font-size: 3.5rem;
}
.main-nav {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.4s ease-out;
}
.flexgrowBlank {
  flex-grow: 0.9;
}

.main-nav a:hover {
  background-color: rgba(110, 175, 136, 0.9);
  padding: 7px;
  transition: 0.4s ease-out;
  border-radius: 100px;
}
.main-nav a:link {
  color: white;
  text-decoration: none;
}

.main-nav a:visited {
  color: white;
  text-decoration: none;
}
.main-nav .active {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
/* 메인 컨텐츠 부분 */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main-board,
.main-til,
.main-summary {
  width: 22%;
  position: relative;
  transition: 0.4s ease-out;
}
.board-content,
.til-content,
.summary-content {
  width: 100%;
  border-radius: 20px;
  /* background-color: #222121; */
  background-color: rgba(34, 33, 33, 0.7);
  box-shadow: 8px 8px 22px #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 560px;
  overflow: auto;
}

.main-board:hover,
.main-til:hover,
.main-summary:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.content {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  width: 75%;
  cursor: pointer;
  margin: 10px;
}
.content:hover {
  box-shadow: 7px 7px 10px grey;
}
.subtitle {
  color: black;
  font-size: 2rem;
  margin: 0;
}
.addContent {
  position: absolute;
  right: 0;
}
.addContent:visited {
  color: white;
}
.addContent:link {
  color: white;
}
/* regist 부분*/

#mainform {
  max-width: 500px;
  margin: 0 auto;
}

#labelform {
  line-height: 2;
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 17px;
  text-align: left;
  font-weight: 200;
}

.alert {
  color: #bf1650;
  font-size: 16px;
}

.alert::before {
  display: inline;
  content: "⚠ ";
}

.maininput {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 8px;
  font-size: 14px;
}

#submit {
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  background-color: rgba(47, 73, 58, 0.9);
  color: white;
}

#submit:hover {
  background: rgba(125, 194, 152, 0.9);
}

#submit:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.maininput:disabled {
  opacity: 0.4;
}

/* footer부분 */
.footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

/* 반응형 (모바일) */
@media screen and (max-width: 786px) {
  .wrapper {
    flex-direction: column;
  }
  .main-board,
  .main-til,
  .main-summary {
    width: 70%;
    margin-bottom: 70px;
  }
}
.profile {
  width: 4%;
  border-radius: 100px;
}

/* LightMode일 경우 */
@media (prefers-color-scheme: light) {
  body {
    background-image: url(../image/lightmode_bg.svg);
  }
  .board-content,
  .til-content,
  .summary-content {
    background-color: rgba(234, 235, 250, 0.5);
  }

  .main-nav a:hover {
    background-color: rgba(114, 219, 223, 0.9);
  }
}

/* AttendContent */

.wrapperAttend {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 40px;
}

.NavAttend {
  order: 0;
  flex: 1 auto;
  margin-left: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(234, 235, 250, 0.5);
  box-shadow: 8px 8px 22px #545454;
  font-size: 20px;
  line-height: 80px;
}

.MainAttend {
  order: 1;
  flex: 4 auto;
  margin-left: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(234, 235, 250, 0.5);
  box-shadow: 8px 8px 22px #545454;
}

.AttendTable {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.WeekIdx {
  order: 0;
  flex: 1 auto;
  font-size: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  background-color: white;
  width: 50px;
}

.Undefined {
  order: 1;
  flex: 2 auto;
  font-size: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.present {
  order: 1;
  flex: 2;
  font-size: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  background-color: #2b6df4;
}

.absent {
  order: 1;
  flex: 2;
  font-size: 20px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
